<%%= simple_form_for <%= item_path :instance_variable => true %><%= ", :html => { :multipart => true }" unless @paperclip_name.empty? -%> do |f| %>
  <%%= f.error_messages %>

	<div class="inputs">
	<%- for attribute in model_attributes -%>
	  <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
	<%- end -%>
	</div>
	
	<div class="actions">
    	<%%= f.button :submit %>
  	</div>
<%% end %>