<%% title "Edit <%= singular_name.titleize %>" %>

<%= render_form %>

<p>
<%- if action? :show -%>
<%= generate_action_links(:read, item_path(:instance_variable => true), "Show", item_path(:instance_variable => true)) %> |
<%- end -%>
<%- if action? :index -%>
<%= generate_action_links(:index, singular_name.titleize, "View All", items_path) %>
<%- end -%>
</p>
