<%% title "New <%= singular_name.titleize %>" %>

<%= render_form %>

<%- if action? :index -%>
<p>
<%= generate_action_links(:index, singular_name.titleize, "Back to List", items_path) %>
</p>
<%- end -%>