<%% title "New <%= singular_name.titleize %>" %>

<%= render_form %>

<%- if action? :index -%>
<%% if can? :index, <%= singular_name.titleize %> %>
<p><%%= link_to "Back to List", <%= items_path %> %></p>
<%% end %>
<%- end -%>