<ul class="tabs">
    <li>
    	<%= link_to "Inbox", messages_path(:inbox) %>
    </li>
    <li>
    	<%= link_to "Outbox", messages_path(:outbox) %>
    </li>
    <li>
    	<%= link_to "Trash", messages_path(:trash) %>
    </li>
</ul>
