<%% title "Edit <%= singular_name.titleize %>" %>

<%%= render 'form' %>

<p>
<%- if action? :show -%>
<%= generate_action_links(:read, "@#{instance_name}", "Show", "@#{instance_name}") %> |
<%- end -%>
<%- if action? :index -%>
<%= generate_action_links(:index, class_name, "View All", items_path) %>
<%- end -%>
</p>
