<%% title "<%= plural_name.titleize %>" %>

<%%= form_tag <%= generate_route_link(:action => :index, :suffix => 'url') %>, { :id => "index_search", :method => :get } do %>
	<%%= text_field_tag :search, params[:search], { :title => "Search by <%= model_attributes[0].name %>" } %>
	<%%= hidden_field_tag :sort, params[:sort] %>
	<%%= hidden_field_tag :direction, params[:direction] %>
<%% end %>

<div id="index_table"><%%= render 'table' %></div>

<%- if action? :new -%>
<p>
<%= generate_action_links(:new, :create, class_name, "New #{simple_name}") %>
</p>
<%- end -%>